*{
    padding: .1rem .1rem;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    background-color: #2C0822;
    color: #ffffff;
    font-size: large;;
}

.terminal-box{
    display: block;
    word-break: break-all;
}
.prompt {
    display: inline;
    color: #00ff00;
    font-weight: 500;
    white-space: pre-wrap;
}
.terminal-input {
    display: inline;
    background: transparent;
    outline: none;
    border: none;
    min-width: 10px;
    white-space: pre-wrap;
    caret-color: #05f10c;
    word-break: break-all;
}
.terminal-block-cursor {
    caret-shape: block;
}
.command-output {
    padding: .1rem .1rem;
    white-space: pre-line;
}

.ascii-art {
    white-space: pre;
    font-weight: 600;
}
.social-icons {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.education-section{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.education-section img{
    width: 12vh;
    height: 15vh;;
}

.social-icons img:hover {
    transform: translateY(-4px);
}
.social-icons img:active {
    transform: translateY(0);
}

.project-lists{
    display: inline;
    line-height: 1.8;
}

@media (max-width: 600px) {
    * {
        font-size: 12px;
    }
    
    .ascii-art {
        font-size: 9px;
    }
    .social-icons img{
        width: 35px;
        height: 35px;
    }
    .education-section {
        flex-direction: row;
        align-items: center;
    }

    .education-section img {
        width: 80px;
        height: 100px;
    }
}


