* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body { 
    background-color: #2C0822;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main{
    width: 90%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
}

.ascii-art {
    color: #ffffff;
    text-align: center;
    white-space: pre;
    overflow-x: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pf-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.pf-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.upper-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px;
    color: white;
    outline: none;
    border-radius: 3px;
}

.lower-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

button {
    padding: 5px 20px;
    border: none;
    background-color: #E94560;
    color: white;
    cursor: pointer;
    border-radius: .2rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff5e78;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: translateY(0);
}

.alert-box {
    font-size: small;
    color: #fff;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff4444;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    padding: 1rem .2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.clock, .heroName{
    color: #fff;
}

.heroName{
    font-size: 1.2rem;
    color: #555;
    letter-spacing: 5px;
    text-transform: uppercase;
}
@media (max-width: 800px) {
    main {
        width: 90%;
        max-width: 400px;
    }

     .ascii-art {
        font-size: 9px; 
    }

     .clock {
        font-size: 1.5rem;
    }

     .heroName {
        font-size: 1rem;
    }
    
}
@media (max-width: 600px) {

    .ascii-art {
        font-size: 6px; 
    }

    .upper-section {
        display: flex;
        justify-content: center;
    }

    .clock {
        font-size: 1.2rem;
    }

    .heroName {
        font-size: 0.9rem;
        letter-spacing: 3px;
    }
}
@media (max-width: 480px) {
    .ascii-art {
        font-size: 4px; 
    }
}